:root {
    --primary: #6A994E;
    --secondary: #D36135;
    --background: #F2E8CF;
  }
  
  /* Base Styles */
  * {
    padding: 0;
    margin: 0;
    font-family: "Cal Sans", Arial, Helvetica;
    font-size: 24px;
    text-align: center;
  }
  
  /* Layout Styles */
  main {    
    background-image: url("bg_pattern.png");
    background-repeat: repeat;
    padding-top: 5dvh;
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .app-container,
  .response-container {
    background-color: var(--background);
    width: 50dvw;
    padding: 50px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .app-container {
    margin-bottom: 5dvh;
  }
  
  .response-container {
    margin: 5dvh 0;
    width: 70dvw;
  }
  
  /* Text Styles */
  h1 {
    color: var(--background);
    font-size: 72px;
    letter-spacing: 5px;
    margin-bottom: 2dvh;
  }
  
  h3 {
    letter-spacing: 5px;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
  }
  
  #city {
    color: var(--secondary);
    font-size: 64px;
    letter-spacing: 5px;
  }
  
  #itinerary-item {
    font-size: 24px;
    padding-bottom: 5px;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3dvh;
  }

  #form-title {
    color: var(--primary);
    font-size: 72px;
    letter-spacing: 5px;
    margin-bottom: 2dvh;
  }
  
  label {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  input, textarea {
    height: 30%;
    border-radius: 20px;
    border: none;
  }
  
  #groupcode {
    width: 30dvw;
    height: 30%;
    border-radius: 20px;
    border: none;
  }
  
  /* Button Styles */
  .submit_button {
    color: var(--background);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30dvw;
    height: 10dvh;
    font-size: 36px;
    border-radius: 40px;
    margin-top: 30px;
    border: none;
    margin-bottom: 3dvh;
    transition: 0.3s;
  }
  
  .submit_button:hover {
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--secondary);
    transition: 0.3s;
  }
  
  /* Image Style */
  img {
    height: 100px;
  }

/* Flight Detail Style */
#flight-info {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#indiv-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.direction-info {
    background-color: aliceblue;
    border: solid;
    border-radius: 5px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.price-info {
    background-color: aliceblue;
    border: solid;
    border-radius: 5px;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.carrier-info {
    min-width: 40%;
}

.time-info {
    min-width: 60%;
}

.direction-info > p {
    font-size: 16px;
}
