<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <title>Recommendations</title>
</head>
<body>
    <main>
        <h1>Travel Recommendations</h1>
        <div class="response-container">

            <!-- Display group code -->
            {% if group_code %}
                <p><strong>Group Code:</strong> {{ group_code }}</p>
            {% endif %}
        
            <!-- Display recommendations -->
            <h3>We recommend...</h3>
            {% if recommendations %}
                <h2 id="city">{{ recommendations["city"] }}</h2>
                <h3>[{{ recommendations["airport"]}}]</h3>
                <p>{{ recommendations["outbound"] }} &rarr; {{ recommendations["inbound"] }}</p>
                <p>Expected Average Temperature: <br> {{ recommendations["temperature"] }} &deg; C</p>
        </div>
        <h1>Flight Information</h1>
        <div class="response-container">
            <section id="flight-info">
                <div id="headers">
                    <h2>Outbound Flights</h2>
                    <h2>Inbound Flights</h2>
                </div>
                <div id="indiv-details">
                    <div class="direction-info">
                        <div class="carrier-info">
                            {% for i in range(flight_details["outbound"]["carriers"]|length) %}
                                <p class="carriers">{{ flight_details["outbound"]["carriers"][i] }}</p>
                            {% endfor %}
                        </div>
                        <div class="time-info">
                            <p>{{ flight_details["outbound"]["dep_time"]}} &rarr; {{ flight_details["outbound"]["arr_time"]}}</p>
                            {% if flight_details["outbound"]["day_offset"] != 0 %}
                                <p>{{ flight_details["outbound"]["day_offset"]}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="direction-info">
                        <div class="carrier-info">
                            {% for i in range(flight_details["inbound"]["carriers"]|length) %}
                                <p class="carriers">{{ flight_details["inbound"]["carriers"][i] }}</p>
                            {% endfor %}
                        </div>
                        <div class="time-info">
                            <p>{{ flight_details["inbound"]["dep_time"]}} &rarr; {{ flight_details["inbound"]["arr_time"]}}</p>
                            {% if flight_details["inbound"]["day_offset"] != 0 %}
                                {% if flight_details["inbound"]["day_offset"] > 0 %}
                                    <p>+{{ flight_details["inbound"]["day_offset"]}}</p>
                                {% else %}
                                    <p>{{ flight_details["inbound"]["day_offset"]}}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <h1>Example Itinerary</h1>
        <div class="response-container">
            {% for i in range(recommendations["itinerary"]|length) %}
                <p id="itinerary-item">{{ recommendations["itinerary"][i] }}</p>
            {% endfor %}
        
            {% else %}
                <p>No recommendations available.</p>
            {% endif %}
        
            <a href="/">Back to Home</a>
        </div>
    </main>
</body>
</html>