<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Wanderlust</h1>
        <h3>Getting the trip out of the group chat</h3>
        <form action="/" method="POST">
            <label id="label" for="groupcode">Enter group code:</label>
            <input type="text" id="groupcode" name="groupcode">
            <input id="submit_button" type="submit" value="Take Off">
        </form>
    </main>
</body>
</html>