<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="app-container">
            <h1 id="form-title">Wanderlust</h1>
            <h3>Getting the trip out of the group chat</h3>
            <form action="/form" method="POST">
                <label for="name">Full name:</label>
                <input type="text" id="name" name="name" required />

                <label for="phone_number">Phone number:</label>
                <input type="tel" id="phone_number" name="phone_number" required />

                <label for="group_code">Group code:</label>
                <input type="text" id="group_code" name="group_code" required />

                <label for="airport">Airport IATA code:</label>
                <input type="text" id="airport" name="airport" maxlength="3" required />

                <label for="length">Trip length:</label>
                <input type="number" id="length" name="length" min="0" max="365" required />

                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required />

                <label for="prefs">Preferences (One item per line):</label>
                <textarea id="prefs" name="prefs"></textarea>

                <input type="submit" class="submit_button" value="Submit" />
            </form>
        </div>
        <div class="app-container">
            <form action="/" method="POST">
                <h3>Already have a group planned?</h3>
                <label id="label" for="groupcode">Enter group code:</label>
                <input type="text" id="groupcode" name="groupcode">
                <input class="submit_button" type="submit" value="Take Off">
            </form>
        </div>
        <div class="app-container">
            <div class="around">
                <a href="https://www.skyscanner.net/" target="_blank"><img src="{{ url_for('static', filename='stacked--black.svg') }}" alt="Skyscanner Tag"></a>
            </div>
        </div>
    </main>
</body>
</html>